<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liguang.dawnlightapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".DawnLightApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppStartLoad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.image.ImageViewPageActivity" />

        <!-- 优酷 -->
        <!-- 播放界面demo -->

        <activity
            android:name=".activity.video.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <!-- 已经缓存的视频界面demo -->
        <activity
            android:name=".activity.video.CachedActivity"
            android:launchMode="singleTask" />
        <!-- 正在缓存的视频展示界面demo -->
        <activity
            android:name=".activity.video.CachingActivity"
            android:launchMode="singleTask" />

        <!-- 以下两个为下载时需要的添加的Service -->
        <service
            android:name="com.youku.service.download.DownloadService"
            android:label="Youku Download Service"
            android:process=":download">
            <intent-filter android:priority="1000">
                <action android:name="com.youku.service.download.DownloadService" />

                <category android:name="com.youku.service.download.DownloadService" />
            </intent-filter>
        </service>
        <!-- client_id及client_secret配置 test -->
        <meta-data
            android:name="client_id"
            android:value="8a1b605d597dca4e" />
        <meta-data
            android:name="client_secret"
            android:value="71e3ca633c9ae7ab914198442ecbede1" />

        <activity
            android:name=".activity.video.YoukuVideoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"></activity>
    </application>

</manifest>
