local.properties
/build/
/captures


build/
.gradle/
*/build/

*.DS_Store

*.iml
.idea/.name
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries

*.apk
*.ap_

*.class

antLauncher/bin
antLauncher/gen
*.log 

.settings

.classpath
bin
coverage
coverage.ec
coverage.em
gen
javadoc
junit-report.xml
lint-results.*ml
lint-results_files

monkey.txt
*.iws
atlassian-ide-plugin.xml
target
build
out
proguard-project.txt
.idea/